.cardbody-orderproducts {
  padding: 1.25rem 0;
  .nav-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    justify-content: flex-end;
    .nav-filter {
      display: flex;
      align-items: center;
    }
    .icon-filter {
      margin-right: 10px;
    }
    .input-search {
      margin: 0 !important;
      .icon-search {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 576px) {
  .nav-list {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 7px;
  }
}
