// Here you can add other styles
@import "../components/ListProducts/ProductRowInfo/ProductRowInfo.scss";
@import "../components/ListProducts/ListProducts.scss";
@import "../components/ListProducts/InfoPedido/InfoPedido.scss";
@import "../components/ListProducts/ProductRow/ProductRow.scss";
@import "../components/ListProducts/ResumenPedido/ResumenPedido.scss";
@import "../components/ListOrders/ListOrders.scss";
@import "../components/ListOrders/OrderRow/OrderRow.scss";
@import "../components/ListOrders/DetailOrder/DetailOrder.scss";
@import "../components/ListOrders/InvoicePDF/InvoicePDF.scss";
@import "../components/Items/CrudItem/CrudItem.scss";
@import "../components/Items/ListItems.scss";
@import "../components/Clients/CrudClient/CrudClient.scss";
@import "../components/Login/Login.scss";

//listproduct

//nav
.icon-user {
  font-size: 22px;
  margin-right: 25px;
}
.title-list {
  font-size: 25px;
}
.title-user {
  margin: 0;
  margin-right: 10px;
}
.add-item {
  font-size: 12px;
  margin: 0 20px;
  padding: 5px 10px;
}

//DefaultLayout
@media (max-width: 600px) {
  .container-body {
    padding: 0 !important;
  }
}
